* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

button {
    padding: 15px 25px;
    border: none;
    background: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background: blue;
}